<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1, shrink-to-fit=no"
         />
      <meta name="author" content="Bootstrap-ecommerce by Vosidiy M." />
      <title>Forwords</title>
      <!-- jQuery -->
      <script th:src="@{/js/jquery-2.0.0.min.js}" type="text/javascript"></script>
      <!-- Bootstrap4 files-->
      <script
         th:src="@{/js/bootstrap.bundle.min.js}"
         type="text/javascript"
         ></script>
      <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" />
      <!-- Fonticons -->
      <link
         th:href="@{/fonts/fontawesome/css/all.min.css}"
         type="text/css"
         rel="stylesheet"
         />
      <link
         th:href="@{/fonts/feathericons/css/iconfont.css}"
         rel="stylesheet"
         type="text/css"
         />
      <link
         th:href="@{/fonts/material-icons/css/materialdesignicons.css}"
         rel="stylesheet"
         type="text/css"
         />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap"
         rel="stylesheet"
         />
      <!-- custom style -->
      <link th:href="@{/css/ui.css}" rel="stylesheet" type="text/css" />
      <link th:href="@{/css/responsive.css}" rel="stylesheet" />
      <link th:href="@{css/cart.css}" rel="stylesheet" />
      <!-- plugin: slickslider -->
      <link
         th:href="@{/plugins/slickslider/slick.css}"
         rel="stylesheet"
         type="text/css"
         />
      <link
         th:href="@{/plugins/slickslider/slick-theme.css}"
         rel="stylesheet"
         type="text/css"
         />
      <script th:src="@{/plugins/slickslider/slick.min.js}"></script>
      <!-- custom javascript -->
      <script src="@{js/script.js}" type="text/javascript"></script>
   </head>
   <body>
      <header class="section-header">
         <section class="header-main border-bottom">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-lg-3 col-4">
                     <a
                        th:href="@{/landingPage}"
                        class="brand-wrap"
                        style="font-family: 'Exo 2', sans-serif; font-size: xx-large"
                        >FORWORDS</a
                        >
                     <!-- brand-wrap.// -->
                  </div>
                  <div class="col-lg-6 col-sm-12 order-3 order-lg-2">
                     <form action="#" class="search">
                        <div class="input-group w-100">
                           <select class="custom-select" name="category_name">
                              <option value="">All Types</option>
                              <option value="comments">ISBN</option>
                              <option value="content">Author</option>
                              <option value="content">Title</option>
                              <option value="content">Category</option>
                           </select>
                           <input
                              type="text"
                              class="form-control"
                              style="width: 60%"
                              placeholder="Search"
                              />
                           <div class="input-group-append">
                              <button class="btn btn-primary" type="submit">
                              <i class="fa fa-search"></i>
                              </button>
                           </div>
                        </div>
                     </form>
                     <!-- search-wrap .end// -->
                  </div>
                  <!-- col.// -->
                  <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                     <div class="d-flex justify-content-end mb-3 mb-lg-0">
                        <a href="#" class="widget-header pl-3 ml-3">
                           <div class="icon icon-sm rounded-circle border">
                              <i class="fa fa-shopping-cart"></i>
                           </div>
                           <span class="badge badge-pill badge-danger notify">0</span>
                        </a>
                        <div class="widget-header dropdown pl-2 ml-2">
                           <a
                              href="#"
                              data-toggle="dropdown"
                              class="dropdown-toggle"
                              data-offset="20,10"
                              >
                              <div class="icon icon-sm rounded-circle border">
                                 <i class="fa fa-user"></i>
                              </div>
                              <span class="sr-only">Profile actions</span>
                           </a>
                           <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" th:href="@{/customer/showSettingsPage}">Profile setting</a>
                              <a class="dropdown-item" th:href="@{/customer/showOrderHistory}">My orders</a>
                              <hr class="dropdown-divider">
                              <form th:action="@{/logout}" method="POST">
                                 <input
                                    type="submit"
                                    class="dropdown-item"
                                    value="Logout"
                                    />
                              </form>
                           </div>
                           <!--  dropdown-menu .// -->
                        </div>
                     </div>
                     <!-- widgets-wrap.// -->
                  </div>
                  <!-- col.// -->
               </div>
               <!-- row.// -->
            </div>
            <!-- container.// -->
         </section>
      </header>
      <!-- section-header.// -->
      <!-- ========================= SECTION PAGETOP ========================= -->
      <section class="section-pagetop bg">
         <div class="container">
            <h2 class="title-page">Checkout</h2>
            <nav>
               <ol class="breadcrumb text-white">
                  <li class="breadcrumb-item">
                     <a th:href="@{/customer/landingPage}">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                     <a href="">Checkout</a>
                  </li>
               </ol>
            </nav>
         </div>
         <!-- container //  -->
      </section>
      <section class="section-content padding-y ">
         <div class="container">
            <div class="container">
               <section class="section- bg text">
                  <!-- container //  -->
               </section>
               <!-- ========================= SECTION CONTENT ========================= -->
               <section class="section-content padding-y">
                  <div class="container">
                     <div class="row">
                        <main class="col-md-8">
                           <div class="card">
                              <table class="table table-borderless table-shopping-cart">
                                 <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                       <th scope="col">Review Items</th>
                                       <th scope="col" width="120">Quantity</th>
                                       <th scope="col" width="120">Price</th>
                                       <th scope="col" class="text-right" width="200"></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr th:each="cartBook : ${cartBooks}">
                                       <td>
                                          <figure class="itemside align-items-center">
                                             <div class="aside">
                                                <img th:src="@{'data:image/png;base64,'+${cartBook.cover_picture}}" class="img-sm" />
                                             </div>
                                             <figcaption class="info">
                                                <a th:href="@{'/viewBookDetails/'+${cartBook.book_id}}"
                                                   th:text="${cartBook.title}"
                                                   class="title text-dark"
                                                   ></a
                                                   >
                                                <p class="text-muted small">
                                                   By <span th:text="${cartBook.author}" th:remove="tag"></span> <br />
                                                   <span th:text="${cartBook.edition}" th:remove="tag"></span>
                                                </p>
                                             </figcaption>
                                          </figure>
                                       </td>
                                       <td>
                                          <form method="POST"
                                             th:action="@{/customer/addUpdateBookInCart}"
                                             th:object="${updateCartDetails}">
                                             <select th:id="@{'qty-'+${cartBook.book_id}}" th:field="*{qty}" class="form-control" onchange="this.form.submit()"></select>
                                             <input hidden
                                                name="bookId"
                                                type="number"
                                                th:attr="name='bookId'"
                                                th:value="${cartBook.book_id}"/>
                                          </form>
                                       </td>
                                       <td>
                                          <div class="price-wrap">
                                             <div class="price">
                                                <div class="price">
                                                   <var>$</var><var th:id="@{'total-price-'+${cartBook.book_id}}"></var>
                                                </div>
                                             </div>
                                             <small class="text-muted">$<span th:text="${cartBook.price}" th:remove="tag"></span> each </small>
                                          </div>
                                          <!-- price-wrap .// -->
                                       </td>
                                       <td class="text-right">
                                          <form method="GET"
                                             th:action="@{'/customer/removeBookFromCart/'+${cartBook.book_id}}">
                                             <button type="submit" class="btn btn-light"> Remove</button>
                                          </form>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </main>
                        <!-- col.// -->
                        <aside class="col-md-3">
                           <div class="card mb-3">
                              <div class="card-body">
                                 <form>
                                    <div class="form-group">
                                       <label>Have coupon?</label>
                                       <div class="input-group">
                                          <input
                                             type="text"
                                             class="form-control"
                                             name=""
                                             placeholder="Coupon code"
                                             />
                                          <span class="input-group-append">
                                          <button class="btn btn-primary">Apply</button>
                                          </span>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                              <!-- card-body.// -->
                           </div>
                           <!-- card .// -->
                           <div class="card">
                              <div class="card-body">
                                 <dl class="dlist-align">
                                    <dt>Total price:</dt>
                                    <dd class="text-right">USD 46.99</dd>
                                 </dl>
                                 <dl class="dlist-align">
                                    <dt>Discount:</dt>
                                    <dd class="text-right">USD 3.99</dd>
                                 </dl>
                                 <dl class="dlist-align">
                                    <dt>Total:</dt>
                                    <dd class="text-right h5"><strong>$43</strong></dd>
                                 </dl>
                                 <hr />
                                 <p class="text-center mb-3">
                                    <img src="images/misc/payments.png" height="26" />
                                 </p>
                              </div>
                              <!-- card-body.// -->
                           </div>
                           <br>
                           <form method="GET" th:action="@{/customer/proceedToCheckout}">
                              <button type="submit" class="btn btn-primary float-md-right"> Place your Order</button>
                           </form>
                           <!-- card .// -->
                        </aside>
                        <!-- col.// -->
                     </div>
                  </div>
                  <!-- container .//  -->
               </section>
               <!-- ============================ COMPONENT 2 ================================= -->
               <main class="col-md-8">
                  <article class="card mb-4">
                     <div class="card-body">
                        <h4 class="card-title mb-3">Contact Info</h4>
                        <form action="">
                           <div class="row">
                              <div class="form-group col-sm-6">
                                 <label>First name</label>
                                 <input
                                    type="text"
                                    placeholder="Type here"
                                    class="form-control"
                                    />
                              </div>
                              <div class="form-group col-sm-6">
                                 <label>Last name</label>
                                 <input
                                    type="text"
                                    placeholder="Type here"
                                    class="form-control"
                                    />
                              </div>
                              <div class="form-group col-sm-6">
                                 <label>Phone</label>
                                 <input type="text" value="+998" class="form-control" />
                              </div>
                              <div class="form-group col-sm-6">
                                 <label>Email</label>
                                 <input
                                    type="email"
                                    placeholder="example@gmail.com"
                                    class="form-control"
                                    />
                              </div>
                           </div>
                           <!-- row.// -->
                        </form>
                     </div>
                     <!-- card-body.// -->
                  </article>
               </main>
               <!-- card.// -->
               <main class="col-md-8">
                  <article class="card mb-4">
                     <div class="card-body">
                        <h4 class="card-title mb-4">Shipping Address</h4>
                        <form th:action="@{/customer/processShippingForm}"
                           th:object="${currentShippingInfo}"
                           id="shippingFormCheckout"
                           method="POST">
                           <div class="row">
                              <div class="form-group col-sm-6">
                                 <label>Street*</label>
                                 <input
                                    th:field="*{city}"
                                    name="city"
                                    type="text"
                                    class="form-control"
                                    />
                              </div>
                              <div class="form-group col-sm-6">
                                 <label>City*</label>
                                 <input
                                    th:field="*{state}"
                                    name="state"
                                    type="text"
                                    class="form-control"
                                    />
                              </div>
                              <div class="form-group col-sm-8">
                                 <label>State*</label>
                                 <input
                                    th:field="*{state}"
                                    name="state"
                                    type="text"
                                    class="form-control"
                                    />
                              </div>
                              <div class="form-group col-sm-4">
                                 <label>Zip Code</label>
                                 <input
                                    th:field="*{zipCode}"
                                    name="zipCode"
                                    type="text"
                                    class="form-control"
                                    />                    
                              </div>
                           </div>
                           <!-- row.// -->
                        </form>
                     </div>
                     <!-- card-body.// -->
                  </article>
               </main>
               <!-- card.// -->
               <main class="col-md-8">
                  <article class="accordion" id="accordion_pay">
                     <div class="card">
                        <header class="card-header">
                           <label
                              class="form-check collapsed"
                              data-toggle="collapse"
                              data-target="#pay_paynet"
                              >
                              <!-- <input
                                 class="form-check-input"
                                 name="payment-option"
                                 checked
                                 type="radio"
                                 value="option2"
                                 /> -->
                              <h6 class="form-check-label">Payment method</h6>
                           </label>
                        </header>
                        <div
                           id="pay_paynet"
                           class="collapse show"
                           data-parent="#accordion_pay"
                           >
                        </div>
                        <!-- collapse .// -->
                     </div>
                     <!-- credit/debit card.// -->
                     <div class="card">
                        <header class="card-header">
                           <img
                              src="images/misc/payment-card.png"
                              class="float-right"
                              height="24"
                              />
                           <label
                              class="form-check"
                              data-toggle="collapse"
                              data-target="#pay_payme"
                              >
                              <input
                                 class="form-check-input"
                                 name="payment-option"
                                 type="radio"
                                 value="option2"
                                 />
                              <h6 class="form-check-label">Credit/Debit Card</h6>
                           </label>
                        </header>
                        <div
                           id="pay_payme"
                           class="collapse"
                           data-parent="#accordion_pay"
                           >
                           <div class="card-body">
                              <p class="alert alert-success">
                                 Enter your card details
                              </p>
                              <form class="form-inline" th:action="@{/customer/updatePaymentDetails}"
                                 th:object="${userPaymentInfo}"
                                 method="POST">
                                 <input
                                    type="text" th:field="*{name}"
                                    class="form-control mr-2"
                                    placeholder="xxxx-xxxx-xxxx-xxxx"
                                    name=""
                                    />
                                 <input
                                    type="text" th:field="*{cardExpiry}"
                                    class="form-control mr-2"
                                    style="width: 100px"
                                    placeholder="dd/yy"
                                    name=""
                                    />
                                 <input
                                    type="password" th:field="*{cvv}"
                                    maxlength="3"
                                    class="form-control mr-2"
                                    style="width: 100px"
                                    placeholder="cvv"
                                    name=""
                                    />
                                 <button type="submit" class="btn btn btn-success"> Add your credit or debit card</button>
                              </form>
                           </div>
                           <!-- card body .// -->
                        </div>
                        <!-- collapse .// -->
                     </div>
               </main>
               <section class="section-content padding-y">
               <div class="container">
               <div class="row">
               <main class="col-md-8">
               <div class="card">
               <table class="table table-borderless table-shopping-cart">
               <div class="card-body border-top">
               <form method="GET" th:action="@{/customer/proceedToCheckout}">
               <button type="submit" class="btn btn-primary float-md-right"> Place your Order</button>
               </form>
               <a th:href="@{/customer/getCartDetails}" class="btn btn-light">
               <i class="fa fa-chevron-left"></i> Continue shopping
               </a>
               </div>
               </div>
               <!-- card.// -->
               <div class="alert alert-success mt-3">
               <p class="icontext">
               <i class="icon text-success fa fa-truck"></i> Free Delivery
               within 1-2 weeks
               </p>
               </table>
               </div>
               </section>
               </div>
               </div>
               </main>
               <!-- card.// -->
               <!-- <div class="card">
                  <header class="card-header">
                    <img
                      src="images/misc/payment-bank.png"
                      class="float-right"
                      height="24"
                    />
                    <label
                      class="form-check"
                      data-toggle="collapse"
                      data-target="#pay_card"
                    >
                      <input
                        class="form-check-input"
                        name="payment-option"
                        type="radio"
                        value="option1"
                      />
                      <h6 class="form-check-label">Bank Transfer</h6>
                    </label>
                  </header>
                  <div
                    id="pay_card"
                    class="collapse"
                    data-parent="#accordion_pay"
                  >
                    <div class="card-body">
                      <p class="text-muted">Some instructions about how to pay</p>
                      <p>
                        Bank of America, Account number: 12345678912346 <br />
                        IBAN: 12345, SWIFT: 987654
                      </p>
                    </div> -->
               <!-- card body .// -->
            </div>
            <!-- collapse .// -->
         </div>
         <!-- card .// -->
         </article>
         <!-- accordion end.// -->
         </main>
         <!-- col.// -->
         <!-- <aside class="col-md-4">
            <div class="card shadow">
              <div class="card-body">
                <h4 class="mb-3">Overview</h4>
                <dl class="dlist-align">
                  <dt class="text-muted">Delivery:</dt>
                  <dd>Pick-up</dd>
                </dl>
                <dl class="dlist-align">
                  <dt class="text-muted">Delivery type:</dt>
                  <dd>Standart</dd>
                </dl>
                <dl class="dlist-align">
                  <dt class="text-muted">Payment method:</dt>
                  <dd>Cash</dd>
                </dl>
                <hr />
                <dl class="dlist-align">
                  <dt>Total:</dt>
                  <dd class="h5">$300.50</dd>
                </dl>
                <hr />
                <p class="small mb-3 text-muted">
                  By clicking you are agree with terms of condition
                </p>
                <a href="#" class="btn btn-primary btn-block"> Button </a>
              </div>
               card-body.// -->
         </div>
         <!-- card.// -->
         </aside>
         <!-- col.// -->
         </div>
         </div>
         <!-- container .//  -->
      </section>
      <!-- ========================= SECTION CONTENT END// ========================= -->
      <!-- ========================= FOOTER ========================= -->
      <footer class="section-footer border-top">
         <div class="container">
            <section class="footer-top padding-y">
               <div class="row">
                  <aside class="col-md">
                     <h6 class="title">forWORDS</h6>
                     <ul class="list-unstyled">
                        <li> <a href="#">About us</a></li>
                        <!-- <li> <a href="#">Career</a></li>
                           <li> <a href="#">Find a store</a></li> -->
                        <li> <a href="#">Rules and terms</a></li>
                        <!-- <li> <a href="#">Sitemap</a></li> -->
                     </ul>
                  </aside>
                  <aside class="col-md">
                     <h6 class="title">Help</h6>
                     <ul class="list-unstyled">
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Cart Items</a></li>
                        <li><a href="#">Order status</a></li>
                        <li><a href="#">Shipping info</a></li>
                     </ul>
                  </aside>
                  <aside class="col-md">
                     <h6 class="title">Account</h6>
                     <ul class="list-unstyled">
                        <li><a href="#"> User Login </a></li>
                        <li><a href="#"> User register </a></li>
                        <li><a href="#"> Account Setting </a></li>
                        <li><a href="#"> My Orders </a></li>
                     </ul>
                  </aside>
                  <aside class="col-md">
                     <h6 class="title">Social</h6>
                     <ul class="list-unstyled">
                        <li>
                           <a href="#"> <i class="fab fa-facebook"></i> Facebook </a>
                        </li>
                        <li>
                           <a href="#"> <i class="fab fa-twitter"></i> Twitter </a>
                        </li>
                        <li>
                           <a href="#"> <i class="fab fa-instagram"></i> Instagram </a>
                        </li>
                        <li>
                           <a href="#"> <i class="fab fa-youtube"></i> Youtube </a>
                        </li>
                     </ul>
                  </aside>
               </div>
               <!-- row.// -->
            </section>
            <!-- footer-top.// -->
            <section class="footer-bottom border-top row">
               <div class="col-md-2">
                  <p class="text-muted"> &copy 2021 forWORDS.com </p>
               </div>
               <div class="col-md-8 text-md-center">
                  <span  class="px-2">info@emailservis.com</span>
                  <span  class="px-2">+12037157177</span>
                  <span  class="px-2">1000 Lakeside Drive, Athens</span>
               </div>
               <div class="col-md-2 text-md-right text-muted">
                  <i class="fab fa-lg fa-cc-visa"></i>
                  <i class="fab fa-lg fa-cc-paypal"></i>
                  <i class="fab fa-lg fa-cc-mastercard"></i>
               </div>
            </section>
         </div>
         <!-- //container -->
      </footer>
      <!-- ========================= FOOTER END // ========================= -->
   </body>
</html>